:host(.custom-editor) [part~="toolbar-button-image"]  {
  display: none;
}

@media (max-width: 479px) {
    :host(.custom-editor) [part="toolbar"]  {
      display: none;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    :host(.custom-editor) [part~="toolbar-group-alignment"]  {
       display: none;
    }
    :host [part~="toolbar-group-glyph-transformation"]  {
       display: none;
    }
}

